---
interface Props {
  title: string;
  image: string;
  href: string;
  decoration: string;
  language: string;
}

const { href, title, image, decoration, language } = Astro.props;
let readMore;
if (language === "no") {
  readMore = "Les mer";
} else if (language === "bg") {
  readMore = "Прочети повече";
} else {
  readMore = "Read more";
}
---

<li class="link-card">
  <a href={href}>
    <h3>
      <span class="decoration text-accent">{decoration}</span>
      {title}
    </h3>
    <img src={image} alt="" />
    <span class="btn-sm btn-primary"> {readMore}</span>
  </a>
</li>
<style>
  a {
    color: var(--black);
    text-decoration: none;
  }
  h3 {
    padding: var(--space-sm);
    font-size: var(--text-ms);
  }

  .link-card {
    position: relative;
    background-color: var(--secondary);
    border-radius: 4rem;
    flex: 1;
    list-style: none;
    min-height: 52rem;
    overflow: hidden;
  }

  .link-card a:hover {
    transform: none;
  }

  .decoration {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }

  .btn-sm {
    position: absolute;
    bottom: var(--space-xs);
    right: var(--space-xs);
  }
  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media only screen and (max-width: 1200px) {
    .link-card {
      min-height: 40vw;
    }
  }
  @media only screen and (max-width: 768px) {
    .link-card {
      min-height: 112vw;
    }
  }
</style>
