---
interface Props {
  language: string;
}

const { language } = Astro.props;

let home, projects, services, blog, contactUs, phone, email, letsTalk;

const homeLink = `/${language}`,
  projectsLink = `/${language}/projects`,
  servicesLink = `/${language}/services`,
  blogLink = `/${language}/blog`,
  contactLink = `/${language}/contact`;

if (language === "no") {
  home = "Hjem";
  projects = "Prosjekter";
  services = "Tjenester";
  blog = "Blogg";
  contactUs = "Kontakt Oss";
  phone = "Telefon";
  email = "E-Post";
  letsTalk = "Prat med oss";
} else if (language === "bg") {
  home = "Начало";
  projects = "Проекти";
  services = "Услуги";
  blog = "Блог";
  contactUs = "Контакт";
  phone = "телефон";
  email = "Имейл";
  letsTalk = "Свържи се с нас";
} else {
  home = "Home";
  projects = "Projects";
  services = "Services";
  blog = "Blog";
  contactUs = "Contact Us";
  phone = "Phone";
  email = "E-mail";
  letsTalk = "Let's talk";
}
---

<footer class="flex">
  <div class="flex-column">
    <h2>{letsTalk}</h2>
    <a href="tel:004741392253">{phone}: +47 413 92 253</a>
    <a href="mailto:arctic.hare.design@gmail.com"
      >{email}: arctic.hare.design@gmail.com</a
    >
    <div id="socials" class="flex">
      <a target="_blank" href="https://www.facebook.com/arctic.hare.design"
        ><img src="/facebook.svg" alt="Company Facebook" loading="lazy" /></a
      >
      <a target="_blank" href="https://www.instagram.com/arctic_hare_design/"
        ><img src="/instagram.svg" alt="Company Instagram" loading="lazy" /></a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/company/arctic-hare-design/about/"
        ><img src="/linkedin.svg" alt="Company LinkedIn" loading="lazy" /></a
      >
    </div>
  </div>
  <nav class="flex-column">
    <a href={homeLink}>{home}</a>
    <a href={servicesLink}>{services}</a>
    <a href={projectsLink}>{projects}</a>
    <a href={blogLink}>{blog}</a>
    <a href={contactLink}>{contactUs}</a>
  </nav>
  <a href={homeLink}
    ><img
      id="logo"
      src="/logo-text.svg"
      alt="Arctic Hare Design - Home"
      loading="lazy"
    /></a
  >
</footer>

<style>
  footer {
    background: var(--black);
    color: var(--white);
    padding: var(--space-lg);
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-sm);
  }

  .flex-column {
    gap: var(--space-xs);
  }

  p {
    margin: 0;
  }

  #socials {
    gap: var(--space-sm);
    height: var(--text-md);
  }

  #socials img {
    height: 100%;
  }

  #logo {
    max-height: 20rem;
  }

  @media only screen and (max-width: 768px) {
    footer {
      padding: var(--space-md) var(--space-xs);
    }

    nav {
      display: none;
    }

    #logo {
      max-height: 16rem;
    }
  }
</style>
