---
interface Props {
  picture: string;
  text: string;
  href: string;
  reverse: boolean;
  language: string;
}

const { picture, text, href, reverse, language } = Astro.props;
let classList = ["align-center", "container"];

if (reverse) {
  classList.push("reverse");
}

let linkText;

if (language === "no") {
  linkText = "Vis nettsiden";
} else if (language === "bg") {
  linkText = "Натисни тук";
} else {
  linkText = "Show website";
}
---

<div class:list={classList}>
  <img src={picture} alt="" />
  <p>{text}</p>
  <a class="btn btn-accent" target="_blank" href={href}>{linkText} <img src="/arrow-right-light.svg" alt=""></a>
</div>

<style>
a {
  display: flex;
  align-items: center;
  gap: var(--space-xxs);
}

a img {
  width: 2.8rem;
}

  div {
    padding: var(--space-lg);
    position: relative;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .reverse p {
    flex-grow: 1;
  }
  .btn {
    position: absolute;
    bottom: var(--space-lg);
    left: 50%;
    transform: translateX(-100%);
  }

  .reverse .btn {
    left: unset;
    right: 50%;
    transform: translateX(100%);
  }
  .container {
    gap: var(--space-md);
  }

  img {
    max-width: 50%;
  }

  @media only screen and (max-width: 768px) {
    .btn {
      bottom: 20rem;
    }

    .btn,
    .reverse .btn {
      transform: translateX(0);
    }

    .btn img {
      width: 2.2rem;
    }

    .container {
      gap: var(--space-sm);
    }
    .reverse {
      flex-direction: column;
    }

    div {
      flex-direction: column;
      padding: var(--space-sm);
    }

    img {
      width: 80vw;
      max-width: unset;
    }

    .btn-sm {
      bottom: unset;
      top: 55vw;
      left: 50vw;
    }

    .reverse .btn-sm {
      right: 50vw;
    }
  }
</style>
