---
interface Props {
  picture: string;
  text: string;
  href: string;
  reverse: boolean;
  language: string;
}

const { picture, text, href, reverse, language } = Astro.props;
let classList = ["align-center", "container"];

if (reverse) {
  classList.push("reverse");
}

let linkText;

if (language === "NO") {
  linkText = "Vis nettsiden";
} else if (language === "BG") {
  linkText = "Натисни тук";
} else {
  linkText = "Show website";
}
---

<div class:list={classList}>
  <img src={picture} alt="" />
  <p>{text}</p>
  <a class="btn-sm btn-accent" href={href}>{linkText}</a>
</div>

<style>
  div {
    padding: var(--space-lg);
    position: relative;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .reverse p {
    flex-grow: 1;
  }
  .btn-sm {
    position: absolute;
    bottom: var(--space-lg);
    left: calc(var(--space-xl) * 2);
  }

  .reverse .btn-sm {
    left: unset;
    right: calc(var(--space-xl) * 2);
  }
  .container {
    gap: var(--space-md);
  }

  img {
    max-width: 50%;
  }

  @media only screen and (max-width: 768px) {
    .container {
      gap: var(--space-sm);
    }
    .reverse {
      flex-direction: column;
    }

    div {
      flex-direction: column;
      padding: var(--space-sm);
    }

    img {
      width: 80vw;
      max-width: unset;
    }

    .btn-sm {
      bottom: unset;
      top: 55vw;
      left: 50vw;
    }

    .reverse .btn-sm {
      right: 50vw;
    }
  }
</style>
