---
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  language: string;
  description: string;
  url?: string;
  ogImage?: string;
}

const { title, language, description, url, ogImage } = Astro.props;

let pageTitle, cannonicalUrl, ogImageUrl, page;

if (url) {
  page = url;
} else {
  page = title;
}

if (ogImage) {
  ogImageUrl = ogImage;
} else {
  ogImageUrl = "https://arcticharedesign.no/og_image.png";
}

const navPages = ["Home", "Projects", "Services", "Blog", "Contact"];

if (navPages.includes(title)) {
  let pageDict, urlTitle;

  if (title === "Home") {
    urlTitle = "";
  } else {
    urlTitle = title.toLocaleLowerCase();
  }

  cannonicalUrl = `https://arcticharedesign.no/${language}/${urlTitle}`;

  if (language === "bg") {
    pageDict = {
      Home: "Агенция за професионална уеб разработка и дизайн",
      Projects: "Нашите проекти за уеб разработка",
      Services: "Нашите услуги за уеб разработка и дизайн",
      Contact: "Свържете се с нас",
    };
  } else if (language === "no") {
    pageDict = {
      Home: "Professjonell Webutvikling & Designbyrå",
      Projects: "Prosjekter",
      Services: "Våre webutvikling og Designtjenester",
      Blog: "Innsikt og Tips om Profesjonell Webutvikling",
      Contact: "Kontakt Oss",
    };
  } else {
    pageDict = {
      Home: "Professional Web Development & Design Agency",
      Projects: "Our Web Development Projects",
      Services: "Our Web Development & Design Services",
      Blog: "Insights & Tips on Professional Web Development",
      Contact: "Contact Us",
    };
  }
  pageTitle = `${pageDict[title]} | Arctic Hare Design`;
} else {
  pageTitle = `${title} | Arctic Hare Design`;
  cannonicalUrl = `https://arcticharedesign.no/${language}/${url}`;
}
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-YV9BPBMC01"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YV9BPBMC01");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={pageTitle} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={cannonicalUrl} />
  </head>
  <body>
    <Nav language={language} page={page} />

    <slot name="body" />
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

    @font-face {
      font-family: "champagne_regular";
      src: url("/fonts/champagne__limousines-webfont.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "champagne_bold";
      src: url("/fonts/champagne__limousines_bold-webfont.woff2")
        format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "champagne_bold_italic";
      src: url("/fonts/champagne__limousines_bold_italic-webfont.woff2")
        format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "champagne_italic";
      src: url("/fonts/champagne__limousines_italic-webfont.woff2")
        format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    :root {
      --primary: #f7a464;
      --secondary: #ffd4b3;
      --accent: #4d5ca8;
      --light: #fef4ec;
      --white: #fffaf6;
      --black: #161e31;
      --gray: #6d818b;

      --secondary-30: #ffd4b34d;

      --space-xl: 20rem;
      --space-lg: 10rem;
      --space-md: 6rem;
      --space-sm: 4rem;
      --space-xs: 2rem;
      --space-xxs: 1rem;

      --text-xl: 7rem;
      --text-lg: 4rem;
      --text-md: 2.8rem;
      --text-ms: 2.666rem;
      --text-sm: 2rem;
      --text-xs: 1.6rem;

      --nav-height: 10rem;

      font-size: 62.5%;
    }

    /* 11.220
8.417
  6.314
4.736
  3.553
  2.666
  2 */

    html {
      color: var(--black);
      font-family: "champagne_regular", sans-serif;
      background: var(--black);
    }

    body {
      margin: 0;
      font-size: var(--text-sm);
    }

    h1,
    h2,
    h3 {
      margin: 0;
      font-weight: unset;
    }

    h1,
    h2,
    h3 {
      font-family: "Fugaz One", sans-serif;
    }

    .bg :is(h1, h2, h3) {
      font-family: "Open Sans", sans-serif;
    }

    h1 {
      font-size: var(--text-xl);
    }

    h2 {
      font-size: var(--text-lg);
    }

    h3 {
      font-size: var(--text-md);
    }

    p {
      font-size: var(--text-sm);
    }

    a {
      color: unset;
      text-decoration: none;
      transition: transform 0.5s;
      cursor: pointer;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--space-lg);
      padding-right: var(--space-lg);
    }

    .flex {
      display: flex;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .align-center {
      display: flex;
      align-items: center;
    }

    .justify-center {
      display: flex;
      justify-content: center;
    }

    .justify-end {
      display: flex;
      justify-content: flex-end;
    }

    .justify-between {
      display: flex;
      justify-content: space-between;
    }

    .relative {
      position: relative;
    }

    .absolute {
      position: absolute;
    }

    .space-lg {
      padding-top: var(--space-xl);
      padding-bottom: var(--space-xl);
      gap: var(--space-lg);
    }

    .padding-0 {
      padding: 0;
    }

    .btn,
    .btn-sm {
      text-decoration: none;
      font-family: "champagne_bold", sans-serif;
      font-weight: 500;
      border: none;
      transition: transform 0.5s;
    }

    .btn:hover,
    .btn-sm:hover {
      transform: scale(1.1);
    }

    .btn {
      font-size: 2.4rem;
      padding: 1.6rem 3.2rem;
      border-radius: 5rem;
    }

    .btn-sm {
      padding: 1rem 2.6rem;
      border-radius: 5rem;
      font-size: 2rem;
    }

    .btn-primary {
      background: var(--primary);
      color: var(--black);
    }

    .btn-accent {
      background: var(--accent);
      color: var(--light);
    }

    .text-primary {
      color: var(--primary);
    }

    .text-accent {
      color: var(--accent);
    }

    .bg-white,
    .bg-secondary,
    .bg-light {
      position: relative;
    }

    .bg-white {
      background: var(--white);
    }

    .bg-secondary {
      background: var(--secondary);
    }

    .bg-light {
      background: var(--light);
    }

    .wave {
      width: 100%;
      bottom: -1px;
      z-index: 0;
    }

    .wave ~ *:not(.absolute),
    .circle ~ *:not(.absolute) {
      z-index: 100;
      position: relative;
    }

    @media only screen and (max-width: 1200px) {
      :root {
        font-size: 50%;
      }

      .container {
        padding-left: var(--space-sm);
        padding-right: var(--space-sm);
      }
    }
    @media only screen and (max-width: 768px) {
      :root {
        font-size: 40%;

        --text-sm: 2.3rem;
      }

      .container {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
      }
    }
  </style>
</html>
